*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-color: whitesmoke;
}

.content-card{
    height: 100%;
    background-color: aqua;
    overflow: hidden;
}
    
.btn-newitem{
    text-decoration: none;
    width: 180px;
    height: 40px;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    padding: 10px 15px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-row{
    padding-top: 25px;
    padding-bottom: 5px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    background-color: #d8e1e98a ;
    .custom-column{
        flex-basis: 15%;
        padding: 25px;
        @media (max-width: 600px) {
            padding: 10px;
          }
    }
}

#button-green{
    margin: 10px;
    text-decoration: none;
    width: 15%;
    height: 10%;
    border-radius: 5px;
    background-color: darkgreen;
    color: white;
    padding: 10px;


    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 650px) {
        width: 50%;
        height: 10%;
    }
  }
