<div class="container">
  <mat-toolbar class="title">
    <h2 >Azienda agricola</h2>
  </mat-toolbar>
  <!-- <figure class="container-image"> -->
    <mat-card class="main-image">
      
      <img src="../../../../assets/images/main_background.png" alt="main-image" class="image-large">
      <img src="../../../../assets/images/main_background_0.jpeg" alt="main-image" class="image-small">
    </mat-card>
  <!-- </figure> -->
<p>
  <mat-toolbar class="navbar-items">
    <button mat-button (click)="navigateToProdotti()">Prodotti Registrati</button>
    <button mat-button (click)="navigateToStatistiche()">Statistiche</button>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon" >
      <mat-icon>file_open</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
</p>

