/* CONTEGGIO TERREMOTI */
.counter-earthquakes {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter-earthquakes .row:not(.counter-earthquakes .row:first-child) {
  margin-top: 10px;
}

.counter-earthquakes .row {
  display: flex;
  width: 100%;
  justify-content: center;
}

.counter-earthquakes span.number {
  background-color: #065ea14d;
  width: 50px;
  display: inline-block;
  text-align: center;
  border-radius: 50vh;
  font-weight: bold;
}
/* CONTEGGIO TERREMOTI */

/* STRUTTURA */
body,
html {
  color: #000;
  height: 100%;
  width: 100%;
  font-family: "", Arial, Helvetica, sans-serif;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-align: left;
  background-color: #fff;
  margin: 0;
  padding: 0;
}

body {
  font-size: 0.875rem;
}

.container {
  display: flex;
}

.sidebar {
  flex: 0 0 30%;
}

.main {
  flex: 1;
  margin-left: 20px;
}
/* FINE STRUTTURA */

/* TESTI */
.site-blue {
    color: #065ea1;
}

.green {
  color: #007000;
}

.orange {
  color: #b94700;
}

.red {
  color: #e00000;
}

.bold {
  font-weight: bold !important;
}

hr {
  width: 95%;
  border: none;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  border-radius: 50vh;
}

.alignCenter {
  text-align: center;
}

.d-block {
  display: block;
  width: 100%;
}

.d-none {
    display: none;
}

.d-inline-block {
  display: inline-block;
}

.w-100 {
  width: 100% !important;
}

.w-50 {
  width: 50% !important;
}
/* FINE TESTI */

/* ELEMENTI BASE */
.container {
  box-sizing: border-box;
  padding: 20px;
  width: 100%;
}

/* CARD */
.card {
  display: inline-block;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  padding: 15px 20px;
  /* margin: 20px 0; */
  border-radius: 15px;
  box-sizing: border-box;
  width: 100%;
}

.card .card-title {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  padding: 15px 0;
  margin-bottom: 15px;
  border-bottom: 1px solid;
  border-color: #065ea1;
}

.card .card-title .sub-title {
  color: #065ea1;
  font-style: italic;
  font-weight: normal;
  margin-left: 5px;
}

.card .card-body {
  padding: 0 15px 15px 15px;
}

.card .card-body.no-footer {
  padding-bottom: 0;
}

/* FINE CARD */

/* SCROLLBAR */
.scrollbar {
  overflow: auto;
}

.scrollbar::-webkit-scrollbar {
  width: 10px;
  padding-left: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: #e7e7e7;
  border: 1px solid #cacaca;
}

.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 3px solid transparent;
  background-clip: content-box;
  background-color: #065ea1;
}
/* FINE SCROLLBAR */

/* TOOLTIP */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px solid #065ea1;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .tooltiptext {
  width: 120px;
  top: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* TOOLTIP */

a {
  color: #065ea1;
}

a:hover {
  text-decoration: none;
}

/* FINE ELEMENTI BASE */