


.example-spacer {
    flex: 1 1 auto;
  }

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000000; // Cambia il colore a tuo piacimento
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera
}
.text{
  color: goldenrod;
  font-family: 'Dancing Script', cursive;
  font-size: 45px;
  font-weight:lighters;
  //padding-bottom: 1%;
}
.container{
  //height: 100%;
  width: 100%;
}

.container-image{
  //height: 250px;
  width: 100%;
  margin: 0;
  padding: 0;
}


.main-image{
  width: 100%;
  height: auto;
}

.image-large {
  display: block; /* Mostra l'immagine per schermi larghi */
}

.image-small {
  display: none; /* Nascondi l'immagine per schermi larghi */
}

@media (max-width: 600px) {
  .image-large {
    display: none; /* Nascondi l'immagine per schermi piccoli */
  }

  .image-small {
    display: block; /* Mostra l'immagine per schermi piccoli */
  }
}

.navbar-items{
  justify-content: space-between;
  //background-color: #3f51b5; // Cambia il colore a tuo piacimento
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera
}

#custom-mat-button {
  color: rgb(0, 0, 0);// Colore del testo
  font-weight: 500; // Spessore del carattere
  &:hover {
    background-color: #5c6bc0; // Cambia colore al passaggio del mouse
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera al passaggio del mouse
  }
}
