


.example-spacer {
    flex: 1 1 auto;
  }

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #747a00;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera
}

.text{
  color: black;
  font-family: 'Dancing Script', cursive;
  font-size: 47px;
  font-weight:bold;
  //padding-bottom: 1%;
}
.ps-container{
  //height: 400px;
  overflow: hidden;
  width: 100%;
}

.container-image{
  //height: 250px;
  width: 100%;
  //margin: 0;
  padding: 0;
}


.main-image{
  width: 100%;
  height: auto;
}

.image-large {
  display: block; /* Mostra l'immagine per schermi larghi */
}

.image-small {
  display: none; /* Nascondi l'immagine per schermi larghi */
}

@media (max-width: 600px) {
  .image-large {
    display: none; /* Nascondi l'immagine per schermi piccoli */
  }

  .image-small {
    display: block; /* Mostra l'immagine per schermi piccoli */
  }
  .text{
    font-size: 25px;
  }
}
@media (max-width: 300px) {
  .text{
    font-size: 20px;
  }
}

.navbar-items{
  justify-content: space-between;
  //background-color: #3f51b5; // Cambia il colore a tuo piacimento
  background-color: #9ea601b8;
  //background-color: #C4CAD0;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera
}

#custom-mat-button {
  color: black;
  font-family: 'Lobster';
  font-size: 27px;
  font-weight:bold; // Spessore del carattere
  &:hover {
    background-color: #747a00de; // Cambia colore al passaggio del mouse
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); // Ombra leggera al passaggio del mouse
  }
  @media (max-width: 600px) {
    font-size: 17px;
  }
  @media (max-width: 300px) {
    font-size: 15px;
  }
}
