<div class="ps-container">
    <mat-toolbar class="title">
      <h2 class="text">{{caratteristicConstant.nome_azienda}}</h2>
    </mat-toolbar>
    <!-- <figure class="container-image"> -->
      <mat-card class="main-image">
        
        <img src="../../../../assets/images/main_background.png" alt="main-image" class="image-large">
        <img src="../../../../assets/images/main_background_0.jpeg" alt="main-image" class="image-small">
      </mat-card>
    <!-- </figure> -->
  <p>
    <mat-toolbar class="navbar-items">
      <button mat-button id="custom-mat-button" (click)="navigate()">Homepage</button>
      <button mat-button id="custom-mat-button" (click)="navigate2()">Chi siamo</button>
      <button mat-button id="custom-mat-button" (click)="navigate2()">Contatti</button>
    </mat-toolbar>
  </p>
</div>  