/* Nel tuo file CSS o stile del componente */
.centered-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%; /* Imposta l'altezza al 100% della viewport height */
  }
  .form-container{
    max-width: 1980px; /* Imposta la larghezza massima desiderata */
    width: 60%; /* Fai sì che il form occupi tutta la larghezza disponibile */
  }

@media (max-width: 1000px) {
  .form-container {
    max-width: 80%; /* Riduci la larghezza massima per schermi più piccoli */
  }
}

/* Altre media query se necessario */
@media (max-width: 480px) {
  .form-container {
    max-width: 90%; /* Ulteriore riduzione della larghezza massima per schermi molto piccoli */
  }
}
  /*Titolo pagina*/
  .text-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  

  /*css riguardanti le immagini e i suoi bottoni*/

  .main-image-box{
    display: flex;
    flex-wrap: wrap;
  }
  .image-box {
    border: 2px dashed #a4a4a4;
    background-color: #ececec;
    width: 150px;
    height: 150px;
    position: relative; 
    margin-right: 0.5%;
    img{
      max-width: 100%;
      height: 100%;
    }
  }
  .seleziona {
    position: relative;
    bottom: -5px;
    background-color: black;
    color: white;
    width: 100%;
    height: 30px;
    border-radius: 3px; /* arrotonda gli angoli del bottone */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 2%;
  }
  .limite {
    position: relative;
    bottom: -5px;
    background-color: rgb(11, 94, 4);
    color: rgb(255, 255, 255);
    width: 100%;
    height: 30px;
    border-radius: 3px; /* arrotonda gli angoli del bottone */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
  }
  .delete-image{
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    
  }
  .delete-icon{
    color: red; /* Colore principale dell'icona */
    border: 2px solid white; /* Spessore e colore del bordo */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5); /* Aggiunge un'ombra leggera */
  }

  /*Form dati*/

  .label-rules{
    padding-top: 1%;
    width: 50%;
    box-sizing: border-box;
    padding-right: 1%;
  }
  .label-rules2{
    width: 100%;
    box-sizing: border-box;
    padding-right: 1%;
    height: 150px;
  }

   /*Bottoni*/
  .button-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    #button-delete{
      text-decoration: none;
      width: 180px;
      height: 40px;
      border-radius: 5px;
      background-color: rgb(100, 0, 0);
      color: white;
      padding: 10px 15px;
    }
    #button-add{
      text-decoration: none;
      width: 180px;
      height: 40px;
      border-radius: 5px;
      background-color: darkgreen;
      color: white;
      padding: 10px 15px;
    }
  }
