.ps-container{
    //height: 400px;
    overflow: hidden;
    width: 100%;
    height: 30%;
    display: flex;
    background-color: #747a00f5;
}

.image-large {
    height: 100%; /* Mostra l'immagine per schermi larghi */
    width: 30%;
}

.footer-text{
    height: 100%; /* Mostra l'immagine per schermi larghi */
    width: 50%;
}

  