<!-- Nel tuo template HTML -->
<div class="centered-form">
    <div class="form-container">
      <mat-card >
        <button mat-icon-button (click)="back()" class="button-close">
          <mat-icon>close</mat-icon>
        </button>
        <mat-card-header class="text-center">
          <mat-card-title style="font-size: 30px;">{{prodottoFormGroup.value.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>

          <span class="image-container">
            <img [src]="getFileType(imagePreviewsMain)" (click)="showImageModal(imagePreviewsBK, 0)" alt="Anteprima Immagine">
          </span>
          <div >
            <mat-card-title class="text-container">{{prodottoFormGroup.value.description}}</mat-card-title>
          </div>
          <div></div>
          <!-- Anteprima delle immagine -->
          <ng-container *ngIf="imagePreviews.length > 0">
            <div class="container-image-box">
              <div *ngFor="let preview of imagePreviews; let i = index" class="image-box">   
                      <img [src]="getFileType(preview)" (click)="showImageModal(imagePreviewsBK, i + 1)" alt="Anteprima Immagine">    
              </div>
            </div>
          </ng-container>
  
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  