
    
        <div class="custom-card" (click)="mostraProdotto(prodotto.id, $event)">
            <div class="img-bg" [style.backgroundImage]="'url(' + getFileType(image?.image) + ')'">

                <!-- <img [src]="getFileType(image.image)" alt="Anteprima Immagine"> -->
                <div class="group">

                    <button  mat-icon-button aria-label="Edit icon">
                        <mat-icon class="edit" (click)="updateProdotto(prodotto.id, $event)">edit</mat-icon>
                    </button>
                    <button  mat-icon-button aria-label="delete icon">
                        <mat-icon class="delete-icon" (click)="deleteProdotto(prodotto.id, $event)">delete</mat-icon>
                    </button>
                </div>
                <div class="dettagli">
                    <p>{{prodotto.name}}</p>
                    <p>{{prodotto.id}}</p>
                    <p>{{prodotto.costo}}</p>
                </div>
            </div>  
        </div>


